<h2>Vista de Productos:</h2>
    <table style="font-size: 28px;" class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Icono</th>
            </tr>
        </thead>
        <tbody id="products">
            {{#unless productos.productos}}
                <tr>
                    <th style="color: red;">No hay productos</th>
                </tr>
            {{/unless}}
        </tbody>
    </table>
    

